# Visual Studio
.vs/
*.vspscc
*.user
*.userosscache
*.suo
*.vssscc
*.dbmdl
*.sln.docstates

# Ruff
.ruff_cache/

# Log dumps from Pip Reroller
**/pip_reroller_log_*.txt

# Exclusions config file from Auto Appraiser
# **/exclusions.ini